html[data-theme="iota"] {
  --action-primary: #108cff;
  --action-hover: #108cffe6;
  --action-disabled: #7587AB;
  --background-primary: #fff;
  --background-secondary: #F2F9FF;
  --background-tertiary: #E4EBFA;
  --background-tertiary-hover: #e4ebfae6;
  --color-error: #FF6755;
  --color-primary: #fff;
  --color-secondary: #7587ab;
  --color-default: #000000;
}
