html[data-theme="shimmer"] {
--action-primary: #00F5DD;
--action-hover: #00D6C1;
--action-disabled: #1e7169;
--background-primary: #04111B;
--background-secondary: #061928;
--background-tertiary: #082235;
--background-tertiary-hover: #122b3d;
--color-error: #E01A4F;
--color-primary: #00121F;
--color-secondary: #738795;
--color-default: #ffffff;
--background-error: #e01a4f29;
--background-success: rgba(0, 245, 221, 0.08);
--background-warning: rgba(255, 255, 255, 0.078);
}